body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffffff, #ee0d0d);
  color: #000000;
  text-align: match-parent;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 251, 0, 0.74);
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 5px 15px rgba(129, 128, 46, 0.342);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

#quote {
  font-size: 18px;
  margin: 20px 0;
  min-height: 60px;
}

button {
  background: #3a0202;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 5s;
}

button:hover {
  background: #e68900;
}




