body {
  font-family: Open-sans, lato; /* Modifiqué la fuente con ayuda de google*/
  background: linear-gradient(135deg, #ffffff, #ee0d0d); /* Cambié los colores del fondo con ayuda de Visual Studio */
  color: #000000;
  text-align: match-parent;/* Cambié el ajuste del texto con Visual Studio */
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 251, 0, 0.74);
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 5px 15px rgba(129, 128, 46, 0.342);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

#quote {
  font-size: 18px;
  margin: 20px 0;
  min-height: 60px;
}

button {
  background: #3a0202;/* Cambié los colores del botón por unos más acordes al tema con ayuda de Visual Studio */
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s; /* Cambié el tiempo de la transición */
}

button:hover {
  background: #ec0707; /* invertí los colores para que en lugar de oscurecer, se aclarara cuendo pasas el mouse */
}








